html,
body {
    background-color: #ffffff;
}

.pure-u-1-1 {
    margin-top: 50px;
    height: 50vw;
}

.pure-u-1-2 {
    margin-top: 50px;
    height: 25vw;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
}

p {
    color: #000000;
    font-size: 16px;
}