html,
body {
    background-color: #f8f0fcd7;
}

h1 {
    text-align: center;
    color: #744888;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Tahoma, sans-serif;
}

h2 {
    text-align: left;
    color: #000000;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
}

p {
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-family: Verdana, Tahoma, sans-serif;
}

#map {
    text-align: center;
}

.grid-container {
    
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-item {
    text-align: center;
  } 